<div class="container">
  <div class="header">
      5 x divespot cards in flexbox
  </div>
  <div class="body">
    <div class="dive-title">
      The mega cool divespot
      5 years ago on a rainy tuesday
    </div>
    <div class="dive-info">
      <h2>Dive info</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          stats
          <div class="col-xs-12 col-md-12">
            <%= date_long(@dive.datetime) %>
          </div>
          <div class="col-xs-6">
            <%= @dive.max_depth %>
          </div>
          <div class="col-xs-6">
            <%= @dive.bottom_time %>
          </div>
          <div class="col-xs-6">
            <span><%= @dive.start_air %></span>
            <span> - </span>
            <span><%= @dive.end_air %></span>
          </div>
          <div class="col-xs-6">
            air consumption
          </div>
          <div class="col-xs-6">
            <%= (@dive.min_temp + @dive.max_temp) / 2 %>
          </div>
          <div class="col-xs-6">
            <%= @dive.visibility %>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          graph
        </div>
      </div>
    </div>
    <div class="dive-sightings">
      <h2>Sightings</h2>
      <div class="row">
        For each animal:
        <div class="col-xs-6 col-md-3">
        </div>
      </div>
    </div>
    <div class="comments">
      text
    </div>
  </div>
</div>
