<div class="dive-navigation-box">
  <% dives.each do |dive| %>
    <div class="dive-navigation-item">
      <%= link_to dive, remote: true, class: "dive-card-link" do %>
        <div class="card dive-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "waves.jpg" %>');">
          <div class="card-category">
            <%= time_ago_in_words(dive.datetime) %>
            <span>ago</span>
          </div>
          <div class="card-description">
            <h2><%= dive.divesite.name %></h2>
            <p><%= date_long(dive.datetime) %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
