<div class="divebox-dive">
  <div class="dive-title">
    <h2><%= dive.divesite.name %></h2>
    <h3><%= date_long(dive.datetime) %></h3>

  </div>
  <div class="dive-info">
    <div class="dashboard-dive-info-box">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="container-fluid single-dive-container-cover">
            <div class="average-stats-details">
              <div class="box-stats">
                <div class="head-box">
                  <p class="text-center">Dive Type</p>
                  <% if dive.types.blank? %>
                  <h1 class="text-center">Casual</h1>
                  <% else %>
                  <h1 class="text-center"><%= dive.types&.capitalize %></h1>
                  <% end %>
                </div>
              </div>
              <div class="full-box">
                <div class="full-box-icons">
                  <h3><%= time_long(dive.datetime) %></h3>
                  <p>Start</p>
                </div>
                <div class="full-box-icons">
                  <h3><%= dive.bottom_time %> min</h3>
                  <p>Duration</p>
                </div>
              </div>
              <div class="full-box">
                <div class="full-box-icons">
                  <h3><%= dive.max_depth.to_i%> m</h3>
                  <p>Max Depth</p>
                </div>
                <div class="full-box-icons">
                  <h3>9 L</h3>
                  <p>Tank size</p>
                </div>

              </div>
              <div class="full-box">
                <div class="full-box-icons">
                  <h3> <%=  dive.min_temp%>°C</h3>
                  <p> Temp</p>
                </div>
                <div class="full-box-icons">
                  <h3> <%=  dive.visibility%> m </h3>
                  <p> Visibility</p>
                </div>
              </div>
              <div class="full-box">
                <div class="full-box-icons">
                  <h3> <%=dive.enjoyment%>/5</h3>
                  <p> Enjoyment</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-8">
          <div class="dive-graph">
            <%= line_chart [
              {name: "Depth", data: dive.data_points.pluck(:time, :depth)},
              {name: "Air Consumption", data: dive.data_points.pluck(:time, :air), visible: false},
              {name: "Temperature", data: dive.data_points.pluck(:time, :temp), visible: false}], library: { yAxis: {reversed: true}, xAxis: {reversed: true}}, width: "100%", height: "100%", discrete: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dive-sightings">
    <h2 class="text-center">Sightings</h2>
    <% if dive.sightings.blank? %>
    <h3>No sightings on this dive</h3>
    <% else %>
    <div class="row">
      <% dive.sightings.each do |sighting| %>
      <div class="col-xs-6 col-md-3">
        <p class="text-center"><%= sighting.animal.name %></p>
        <%=  image_tag(asset_path(sighting.animal.image_url), class: "img-responsive")%>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="dive-comments">
    <h2 class="text-center">Comments</h2>
    <% if dive.comments.blank? %>
    <h5 class="text-center">No comments</h5>
    <% else %>
    <h5><%= dive.comments %></h5>
    <% end %>
  </div>
</div>
