<div class="dive-show-header">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h4><%= date_long(@dive.datetime) %></h4>
      <h2>
        <%= link_to @dive.divesite.name, @dive.divesite %>
        <em><%= @dive.divesite.location %></em>
      </h2>
      <h5>Type: <%= @dive.types %></h5>
    </div>
    <div class="col-xs-12 col-sm-9">
      <% @dive.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
    </div>
  </div>
</div>
