<div class="dive-show-info">
  <div class="row">
    <div class="col-xs-12 col-md-4 dive-chart">
      <div class="dive-index-map">
        <div id="map" style="width: 100%; height: 300px;"></div>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="col-xs-6 col-lg-4 text-center following-row">
        <p> <%= @dive.max_depth.to_i %> m</p>
        <h6> Depth </h6>
      </div>

      <div class="col-xs-6 col-lg-4 text-center following-row">
        <p><%= @dive.bottom_time %> min</p>
        <h6> Time </h6>
      </div>

      <div class="col-xs-6 col-lg-4 text-center following-row">
        <p><%= @dive.types.capitalize %></p>
        <h6> Type </h6>
      </div>

      <div class="col-xs-6 col-lg-4 text-center following-row">
        <p><%= @dive.max_temp.to_i %> °C</p>
        <h6> Temp </h6>
      </div>

      <div class="col-xs-6 col-lg-4 text-center following-row">
        <p><%= @dive.start_air - @dive.end_air %> bar</p>
        <h6> Air use </h6>
      </div>

      <div class="col-xs-6 col-lg-4 text-center following-row">
        <p><%= @dive.enjoyment %>/5</p>
        <h6> Enjoyment </h6>
      </div>
    </div>
  </div>
</div>

<div class="row following-graph">
  <div class="col-xs-12" id="container">
    <% if @dive.id > 380 %>
    <%= line_chart [
      {name: "Depth", data: @dive.user.dives.recent.last.data_points.pluck(:time, :depth)},
      {name: "Air Consumption", data: @dive.user.dives.recent.last.data_points.pluck(:time, :air), visible: false},
      {name: "Temperature", data: @dive.user.dives.recent.last.data_points.pluck(:time, :temp), visible: false}
      ], library: { yAxis: {reversed: true}, xAxis: {reversed: true}}, discrete: true %>
    <% else %>
      <%= line_chart [
        {name: "Depth", data: @dive.data_points.pluck(:time, :depth)},
        {name: "Air Consumption", data: @dive.data_points.pluck(:time, :air), visible: false},
        {name: "Temperature", data: @dive.data_points.pluck(:time, :temp), visible: false}
        ], library: { yAxis: {reversed: true}, xAxis: {reversed: true}}, discrete: true, width: "100%" %>
    <% end %>
  </div>
</div>
<div class="sightings-comments">
  <div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="dive-sightings">
      <h2 class="text-center" style="padding-bottom: 7%;">Sightings</h2>
      <% if @dive.sightings.blank? %>
      <h3 class="text-center">No sightings on this dive</h3>
      <% else %>
      <div class="row">
        <% @dive.sightings.each do |sighting| %>
        <div class="col-xs-6 col-md-6">
          <p class="text-center"><%= sighting.animal.name %></p>
          <%=  image_tag(asset_path(sighting.animal.image_url), class: "img-responsive")%>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="dive-comments text-center">
      <h2 class="text-center" style="padding-bottom: 7%;">Comments</h2>
      <% if @dive.comments.blank? %>
      <h5 class="text-center">No comments</h5>
      <% else %>
      <h5><%= @dive.comments %></h5>
      <% end %>
    </div>
  </div>
</div>
</div>
