
<%= render 'header' %>
<%= render 'swipebox' %>
<div class="container-fluid dive-box">
  <div class="row">

    <div>
      <%= render 'info' %>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'shared/map.js.erb' %>
  <% end %>
<% end %>
