<%= render 'dives/divebox' %>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="dive-show">
  <div class="dive-show-map">
<!--     <div id="map" style="width: 100%; height: 350px;"></div> -->
  </div>
  <div class="container">
    <div class="row">
      <hr>
      <p><%= link_to "Return to my dives", dives_path %></p>
      <hr>
      <div>

        <%= render 'header' %>
        <hr>
        <%= render 'info' %>
        <%= render 'equipment' %>
        <hr>
        <%= render 'comments' %>
        <hr>
        <%= render 'shared/sightings', sightings: @dive.sightings, splitted_animals: @splitted_animals %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'shared/map.js.erb' %>
  <% end %>
<% end %>
