<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="col-sm-12">
      </div>
      <div class="col-sm-12">
        <div id="map" style="width: 100%; height: 300px;"></div>
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
          <%= render 'divesites/map.js.erb' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% @dives.each do |dive| %>
      <div class="product">
      <%= image_tag "cenote.jpg", class: "product-image hidden-xs" %>
        <div class='product-body'>
          <ol class="dive-title list-inline">
            <li><%= format_time(dive.datetime) %></li>
            <li><h3><%= dive.divesite.name %></h3></li>
          </ol>
          <p>
            <%= dive.comments %>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus at dicta quibusdam, odit eligendi sit modi debitis facilis accusamus molestias quia, doloribus laboriosam incidunt nesciunt quisquam ex nobis voluptatibus. Cupiditate!
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
