<div class="container divelog">
  <div class="text-center">
    <%= simple_form_for [@dive] do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="container login-form">
          <%= f.input :datetime, as: :date, required: true, autofocus: true %>
          <%= f.association :divesite, collection: @divesites %>
          <%= f.association :animals, collection: @animals, input_html: { multiple: true } %>
          <%= f.input :types, label: 'Dive type'%>
          <%= f.input :tank_size %>
          <%= f.input :bottom_time %>
          <%= f.input :start_air %>
          <%= f.input :end_air %>
          <%= f.input :max_depth %>
          <%= f.input :avg_depth %>
          <%= f.input :min_temp %>
          <%= f.input :max_temp %>
          <%= f.input :comments, label: 'Personal comments'%>
          <%= f.input :review_content %>
          <%= f.input :review_rating %>
          <%= f.input :enjoyment %>
          <%= f.input :visibility %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log this dive !", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

