<div class="container">
  <div class="text-center">
    <%= simple_form_for [@user, @dive] do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :datetime, required: true, autofocus: true %>
        <%= f.input :divesite, required: true %>
        <%= f.input :type %>
        <%= f.input :tank_size %>
        <%= f.input :bottom_time %>
        <%= f.input :start_air %>
        <%= f.input :end_air %>\
        <%= f.input :max_depth %>
        <%= f.input :avg_depth %>
        <%= f.input :min_temp %>
        <%= f.input :max_temp %>
        <%= f.input :comments %>
        <%= f.input :enjoyment %>
        <%= f.input :visibility %>
        <%= f.input :polygon %>
        <%= f.input :review_rating %>
        <%= f.input :review_content %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Create new dive" %>
      </div>
    <% end %>
  </div>
</div>

