<div class="dive-show-map">
  <div id="map" style="width: 100%; height: 350px;"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div>
        <h1 class="text-center">Infos</h1>
        <p>Diver : <%= @dive.user.first_name %></p>
        <p>Date : <%= @dive.datetime.strftime("%A, %d, %B, %Y") %></p>
        <p>Tank size : <%= @dive.tank_size %></p>
        <p>Bottom time : <%= @dive.bottom_time %></p>
        <p>Start air : <%= @dive.start_air %> - End air : <%= @dive.end_air %></p>
        <p>Max depth : <%= @dive.max_depth %> - Avg depth : <%= @dive.avg_depth %></p>
        <p>Min temp : <%= @dive.min_temp %> - Max temp <%= @dive.max_depth %></p>
        <p>Comments : <%= @dive.comments %></p>
        <p>Enjoyments : <%= @dive.enjoyment %></p>
        <p>Visibility : <%= @dive.visibility %></p>
        <p>Review : <%= @dive.review_rating %> <%= @dive.review_content %></p>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        icon: "/images/mapicon.png"
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
