


<!-- TODO .where(public: true) -->
<div class="dashboard-header">
<i class="fa fa-address-book" style="font-size:28px;"></i>
 <h3>  Summary</h3>

 <p></p>
</div>
<div class="container-fluid" id='container-cover'>
  <div class="container-fluid" id='stats-container'>
    <div class="row">
      <div class="col-md-12" id='graph-container'>
        <div class="col-md-6 average-stats">
          <div class="chart-graph">
           <%= line_chart @user.dives.first.data_points.pluck(:time, :depth), height: '700px', width: '600px' %>
          </div>
        </div>
        <div class="average-stats-details">
          <!-- <div class="my-stats-header">
            <h2>My main stats</h2>
          </div> -->
          <div class="box-stats">
            <div class="sub-box" id="sub-box-1">

              <h1 class="text-center"><%= @user.dives.count %></h1>
              <p class="text-center"> Dives logged</p>
            </div>
            <div class="sub-box" id="sub-box-2"%>
              <h1 class="text-center"> 104 min </h1>
              <p class="text-center"> Spent under water </p>
            </div>
          </div>

          <div class="full-box">
            <div class="full-box-icons">
              <h2> 49 min</h2>
              <p> Longest dive</p>
            </div>
            <div class="full-box-icons">
              <h2> 18 m</h2>
              <p> Max Depth</p>
            </div>
            <div class="full-box-icons">
              <h2> 8</h2>
              <p> Encounters</p>
            </div>
          </div>
          <div class="full-box">
            <div class="full-box-icons">
              <p><%= image_tag "shark_icon.png" %></p>
              <p> 30 Shark dive</p>
            </div>

            <div class="full-box-icons">
              <p><%= image_tag "reef_icon.png" %></p>
              <p> 30 Reef dive</p>
            </div>
            <div class="full-box-icons">
              <p><%= image_tag "shore_icon.png" %></p>
              <p> 1 Shore dive</p>
            </div>
          </div>

        </div>
        <%= render 'dives/divebox', dives: @user.dives.first(5) %>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-header">
<%= image_tag ('diver_icon.png'), width: '30px'%>
 <h3> Last dives</h3>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'users/light_slider.js.erb' %>
  <% end %>
<% end %>
