


<!-- TODO .where(public: true) -->

<div class="container-fluid" id='container-cover'>
  <div class="container-fluid" id='stats-container'>
    <div class="row">
      <div class="col-md-12" id='graph-container'>
        <div class="col-md-6 average-stats">
          <div class="chart-graph">
           <%= line_chart @user.dives.first.data_points.pluck(:time, :depth), height: '550px' %>
          </div>
        </div>
        <div class="average-stats-details">
          <!-- <div class="my-stats-header">
            <h2>My main stats</h2>
          </div> -->
          <div class="box-stats">
            <div class="sub-box" id="sub-box-1">
              <h2 class="text-center">Total dives </h2>
              <h2 class="text-center"><%= @user.dives.count %></h2>
            </div>
            <div class="sub-box" id="sub-box-2"%>
              <h2 class="text-center"> Time spent </h2>
              <h2 class="text-center"> 24 hrs </h2>
            </div>
          </div>
          <div class="type-header">
              <h2>My diving style</h2>
          </div>
          <div class="full-box">
            <div class="full-box-icons">
              <p><%= image_tag "shark_icon.png" %></p>
              <p> 30 Shark dive</p>
            </div>

            <div class="full-box-icons">
              <p><%= image_tag "reef_icon.png" %></p>
              <p> 30 Reef dive</p>
            </div>
            <div class="full-box-icons">
              <p><%= image_tag "shore_icon.png" %></p>
              <p> 1 Shore dive</p>
            </div>
          </div>
          <div class="my-spots-header">
            <h2>My records</h2>
          </div>
          <div class="full-box">
            <div class="full-box-icons">
              <p> Longest dive</p>
              <p> 58 mns</p>
            </div>
            <div class="full-box-icons">
              <p> Max Depth</p>
              <p> 28m</p>
            </div>
            <div class="full-box-icons">
              <p> Hard dives</p>
              <p> 18</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'users/light_slider.js.erb' %>
  <% end %>
<% end %>
