


<!-- TODO .where(public: true) -->


<div class="container js-container">
<div id="wrapper">
  <div class="overlay"></div>

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/dives/new">Log a dive</a>
          </li>
          <li>
              <a href="">Events</a>
          </li>
          <li>
              <a href="#">Near you</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Dropdown heading</li>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
          <li>
              <a href="https://twitter.com/TSourdille">Follow me</a>
          </li>
      </ul>
  </nav>

</div>
  <div>
    <ul id="lightSlider">
      <% @user.dives.each do |dive| %>
        <li>
          <img src="https://i.ytimg.com/vi/sWy3s9Dhep0/hqdefault.jpg" class="img-responsive">
            <p><%= link_to dive.divesite.name, dive %></p>
            <p><%= dive.datetime.strftime("%d %B %Y") %></p>
            <%= link_to 'Check', dive, remote: true, class: 'show' %>
            <%= link_to "Hide", dive, remote: true, class: 'slide-up' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="container dive_container">
    <div id="result" style="clear:both;"></div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-2">
      <div class="panel space-4">
        <%= find_user_photo(@user) %>
      </div>

      <div class="panel space-4">
        <div class="panel-header text-center">Informations</div>
        <div class="panel-body">
          <p><%= link_to 'Update my account', edit_user_registration_path %></p>
          <p><%= link_to "Delete", user_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
          <p> <%= @user.email %> </p>
        </div>
      </div>

      <div class="panel space-4">
        <div class="panel-header text-center">Followers</div>
        <div class="panel-body">
          <p>Papa</p>
          <p>Maman</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
      <div class="">
      <h1>Last Dives </h1>

        <div class="panel panel-body" data-target="#dive_index">
          <% @user.dives.recent.first(3).each do |dive| %>
            <p>
            <%= link_to dive.divesite.name, dive %> - <%= dive.datetime.strftime("%d %B %Y") %>
            </p>
          <% end %>

        </div>
      </div>
    </div>

  </div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'users/light_slider.js.erb' %>
  <% end %>
<% end %>




