


<!-- TODO .where(public: true) -->
<div class="container dive_container">
<div id="result" style="clear:both;"></div>
</div>

<div class="container">
  <div>
    <ul id="lightSlider">
      <% @user.dives.each do |dive| %>
        <li>
          <img src="https://i.ytimg.com/vi/sWy3s9Dhep0/hqdefault.jpg" class="img-responsive">
            <p><%= link_to dive.divesite.name, dive %></p>
            <p><%= dive.datetime.strftime("%d %B %Y") %></p>
            <div class=""> <%= link_to 'Check', dive, remote: true, :id => 'show' %></div>
            <%= link_to "Hide", dive, remote: true, :id => 'hide' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-2">
      <div class="panel space-4">
        <%= find_user_photo(@user) %>
      </div>

      <div class="panel space-4">
        <div class="panel-header text-center">Informations</div>
        <div class="panel-body">
          <p><%= link_to 'Update my account', edit_user_registration_path %></p>
          <p><%= link_to "Delete", user_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
          <p> <%= @user.email %> </p>
        </div>
      </div>

      <div class="panel space-4">
        <div class="panel-header text-center">Followers</div>
        <div class="panel-body">
          <p>Papa</p>
          <p>Maman</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1">
      <div class="">
      <h1>Last Dives </h1>

        <div class="panel panel-body" data-target="#dive_index">
          <% @user.dives.recent.first(3).each do |dive| %>
            <p>
            <%= link_to dive.divesite.name, dive %> - <%= dive.datetime.strftime("%d %B %Y") %>
            </p>
          <% end %>

        </div>
      </div>
    </div>

  </div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'users/light_slider.js.erb' %>
  <% end %>
<% end %>




