<div class="sightings-list">
  <div class="container-fluid sightings-container">
  <h2 class="text-center">Encountered at <%= @divesite.name%> </h2>
  <hr>
    <% if sightings != nil && splitted_animals != nil %>
      <div class="row">
        <div class="col-xs-12 col-md-6 animal-box">
          <% splitted_animals[0].each do |animal| %>
          <div class="animal-card">
            <p class="text-center"><%= animal.name %></p>
            <%=  image_tag(asset_path(animal.image_url), class: "animal-image")%>
            <hr>
          </div>
          <% end %>
        </div>
        <% if splitted_animals[1] != nil %>
          <div class="col-xs-12 col-md-6 animal-box">
            <% splitted_animals[1].each do |animal| %>
              <div class="animal-card">
                <p class="text-center"><%= animal.name %></p>
                <%=  image_tag(asset_path(animal.image_url), class: "animal-image")%>
                <hr>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
    <p>No animal sightings reported yet</p>
    <% end %>
  </div>
</div>
