<div class="container-fluid login">
  <div class="text-center">
    <%= simple_form_for [@divesite, @event] do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="container-fluid login-form">
          <%= f.input :datetime, required: true, autofocus: true %>
          <%= f.association :divesite, collection: @divesites, as: :select %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Create new event" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

