<h2 class="text-center"> Events @ <%= @divesite.name %></h2>
<div id="map" style="width: 100%; height: 400px;"></div>

<div class="container block-center" id="event_list">
<h3 class="text-center"> Happening soon</h3>
<hr>
<ul>
  <% @divesite.events.each do |e| %>
   <li><h4> <strong> <%= e.datetime.strftime("%A, %d, %B, %Y")%></strong></h4></li>
   <hr>
   </li><p> <strong>Starting hour : </strong> <%= e.datetime.strftime("%H")%>H<%= e.datetime.strftime("%M")%> </p></li>
   <br>
   </li><p> <strong>Description : </strong> <%= e.description%></p></li>
   <hr>
  <% end %>
</ul>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'events/map.js.erb' %>
  <% end %>
<% end %>
