
  <div class="divesite-index-card">
    <div class="row margin-row">
      <div class="col-xs-12 col-md-5">
        <div class="text-divesite-index">
          <h2><%= divesite.name %></h2><p>Difficulty: <%= divesite.difficulty %></p>
          <p>
            Types:
            <% divesite.dives.each do |dive| %>
              <%= dive.types&.capitalize %>
            <% end %>
          </p>
          <p>Max depth: <%= divesite.max_depth %> m</p>
          <%= link_to divesite_path(divesite) do %>
            <button type="button" class="btn btn-banner-sidebar">
              <span class="button-text">View this divesite</span>
            </button>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-7">
        <div class="divesite-image">
          <%= cl_image_tag get_ju_flo_photos[index], height: 233, :crop => "fill" %>
        </div>
      </div>
    </div>
  </div>
