<% if @divesite.events.blank? %>
  <div class="empty-body">
    No events yet at <%= @divesite.name %>
  </div>
<% else %>
  <% @divesite.events.where.not(description: nil).each do |event| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= link_to event do %>
            <%= event.datetime.strftime("%b %d %Y") %>.
            Created by:
            <%= event.participations.first.user.first_name.capitalize%>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <%= event.description %>
      </div>
    </div>
  <% end %>
<% end %>
