<div class="divesite-info">

  <dl class="dl-horizontal">
  <h4 class="divesite-info-header text-center"><%= @divesite.name %> </h4>
  <hr>
  <h3> <strong>Main details : </strong></h3>
  <hr>
    <p> <strong>Difficulty : </strong>
      <% if @divesite.difficulty == "Hard" %>
      <%=image_tag('hard_logo.png')%><%= @divesite.difficulty%>
      <% elsif @divesite.difficulty == "Easy" %>
      <%=image_tag('easy_logo.png')%><%= @divesite.difficulty%>
      <% elsif %>
      <%= @divesite.difficulty %>
      <% end %>
      </p>
    <p><strong>Max Depth : </strong>
      <%= @divesite.max_depth %> meters</p>
    <p><strong>Average Depth : </strong>
      <%= @divesite.avg_depth %> meters</p>
  </dl>
  <hr>
  <p class="small"><em> *Our intel is built and double-checked by professional divers. Safety first!</em></p>
</div>
