<h1 class='text-center'>Spots around <%= (params[:search_input]) %> </h1>

<div id="map" style="width: 100%; height: 400px;"></div>


<div class="container" id="tabs-container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Spots</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Divers</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Events</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Divesites"></div>
    <div role="tabpanel" class="tab-pane" id="Divers"></div>
    <div role="tabpanel" class="tab-pane" id="Events"></div>
  </div>
</div>


<div class="container">
  <div class="">
    <h2 class="divesite-header text-center">
      <%= pluralize(@divesites.size, "divesite") %> found !
    </h2>
  </div>
  <% unless @divesites.any? %>
    <div class='text-center'> <strong> No spots around...</strong></div>
    <br>
    <div class='text-center'><%= link_to "Page d'accueil", root_path %></div>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        icon: "/images/mapicon.png"
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

<div class="divesites">
  <% @divesites.each do |divesite| %>
    <%= render 'divesites/divesite_cards', divesite: divesite %>
  <% end %>
</div>
