<h1 class='text-center'>Spots around <%= (params[:search_input]) %> </h1>

<div id="map" style="width: 100%; height: 400px;"></div>



  <div class="">
    <ul>
      <a data-toggle="tab" class="col-xs-6 text-right" href="#divesites">
        <h2>Spots</h2>
      </a>
      <a data-toggle="tab" class="col-xs-6 text-left" href="#events">
        <h2>Events</h2>
      </a>
    </ul>
  </div>

  <!-- Tab panes -->
<div class="container">
  <div class="tab-content divesites-index">
    <div class="tab-pane active" id="divesites">

        <h2 class="divesite-header text-center">
          <%= pluralize(@divesites.size, "divesite") %> found !
        </h2>

      <% unless @divesites.any? %>
        <div class='text-center'> <strong> No spots around...</strong></div>
        <br>
        <div class='text-center'><%= link_to "Page d'accueil", root_path %></div>
      <% end %>
      <div class="divesites">
        <% @divesites.each do |divesite| %>
          <%= render 'divesites/divesite_cards', divesite: divesite %>
        <% end %>
      </div>
    </div>
    <div class="divesites-index" id="events">
      <% @divesites.each do |divesite| %>
        <% divesite.events.each do |event| %>
          <%= render 'events/events_cards', event: event %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'shared/map.js.erb' %>
  <% end %>
<% end %>

