<div class="profil-header">
  <h2 class="text-center" style="padding-bottom: 10px"><strong>Dive Spots</strong></u></h2>
</div>

<div class="dashboard-header">
  <%= image_tag ('diver_icon.png'), width: '30px'%>
    <% if params[:search_input] == nil %>
      <h3>  All the spots</h3>
    <% else %>
      <h3>Spots around <%= (params[:search_input]).capitalize %></h3>
  <% end %>
</div>

<div id="map" style="width: 100%; height: 400px; margin-top:0;"></div>
  <div class="dashboard-header">
    <% event_number = @divesites.map { |divesite| divesite.events.count }.reduce(:+) %>
      <% if  params[:search_input] != nil %>
        <i class="fa fa-search" style="font-size:28px;"></i>
        <h3><%= pluralize(@divesites.size, "spot") %> found and
        <%= pluralize(event_number, "event") %></h3>
    <% else %>
      <i class="fa fa-search" style="font-size:28px;"></i>
        <h3><%= pluralize(Divesite.count, "spot") %> and
        <%= pluralize(event_number, "event") %> listed</h3>
    <% end %>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="divesites-tabs">
      <div class="text-center">
      <div>
        <a data-toggle="tab" class="col-xs-6 text-right" href="#divesites">
        <div class="tab-effect-divesite">
          <h2>Spots</h2>
        </div>
        </a>
      </div>
      <div>
        <a data-toggle="tab" class="col-xs-6 text-left" href="#events">
        <div class="tab-effect-divesite">
          <h2>Events</h2>
        </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
  <!-- Tab panes -->
<div class="container-fluid padding-bottom-event">
  <div class="tab-content divesites-index">
    <div class="tab-pane active" id="divesites">
      <% unless @divesites.any? %>
        <div class='text-center'> <strong> No spots around...</strong></div>
        <div class='text-center'><%= link_to "Page d'accueil", root_path %>
        </div>
      <% end %>
      <div class="divesites">
        <% @divesites.each_with_index do |divesite, i| %>
          <%= render 'divesites/divesite_cards', divesite: divesite, index: i %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane" id="events">
    <div class="divesites-index">
      <% @divesites.each do |divesite| %>
        <% divesite.events.each do |event| %>
          <%= render 'events/events_cards', event: event %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'shared/map.js.erb' %>
  <% end %>
<% end %>
