
<h1 class='text-center'>Spots around<%= (params[:search_input])%> </h1>
<div id="map" style="width: 100%; height: 400px;"></div>


<div class="container" id="tabs-container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Spots</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Divers</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Events</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Divesites"></div>
    <div role="tabpanel" class="tab-pane" id="Divers"></div>
    <div role="tabpanel" class="tab-pane" id="Events"></div>
  </div>
</div>


<div class="container">
  <div class="divesite-list">
    <h2 class="divesite-header text-center">
      <%= pluralize(@divesites.size, "divesite") %> found !
    </h2>
    <div class="row">
      <% @divesites.each do |divesite| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to divesite_path(divesite) do %>
          <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% unless @divesites.any? %>
    <div class='text-center'> <strong> No spots around...</strong></div>
    <br>
    <div class='text-center'><%= link_to "Page d'accueil", root_path %></div>
  <% end %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'divesites/map.js.erb' %>
  <% end %>
<% end %>

<div class="divesites container">
  <div class="divesite_list row center-block">
    <% @divesites.each do |divesite| %>

      <div class="col-xs-12 col-sm-6 col-md-6">
      <ul>
        <%= link_to divesite_path(divesite) do %>

        <li><%= render 'divesites/divesite_cards', divesite: divesite %></li>
        <% end %>
      </ul>
      </div>
    <% end %>
  </div>
</div>
