<% if params[:search_input] == nil %>
  <h1 class='text-center title-divesite'>All the spots</h1>
<% else %>
  <h1 class='text-center title-divesite'>Spots around <%= (params[:search_input]).capitalize %></h1>
<% end %>

<div id="map" style="width: 100%; height: 400px;"></div>

<div class="container-fluid">
  <div class="row">
    <div class="divesites-tabs">
      <a data-toggle="tab" class="col-sm-2 col-sm-offset-4 text-center" href="#divesites">
        <h2>Spots</h2>
      </a>
      <a data-toggle="tab" class="col-sm-2 text-center" href="#events">
        <h2>Events</h2>
      </a>
    </div>
  </div>
</div>
  <!-- Tab panes -->
<div class="container-fluid">
  <div class="tab-content divesites-index">
    <div class="tab-pane active" id="divesites">
        <% if  params[:search_input] != nil%>
          <h2 class="divesite-header text-center">
            <%= pluralize(@divesites.size, "divesite") %> found!
          </h2>
        <% end %>
      <% unless @divesites.any? %>
        <div class='text-center'> <strong> No spots around...</strong></div>
        <div class='text-center'><%= link_to "Page d'accueil", root_path %>
        </div>
      <% end %>
      <div class="divesites">
        <% @divesites.each do |divesite| %>
          <%= render 'divesites/divesite_cards', divesite: divesite %>
        <% end %>
      </div>
    </div>
    <div class="divesites-index" id="events">
      <% @divesites.each do |divesite| %>
        <% divesite.events.each do |event| %>
          <%= render 'events/events_cards', event: event %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'shared/map.js.erb' %>
  <% end %>
<% end %>

