<div class="divesite-cover-photo">
</div>
<ul class="breadcrumb divesite-breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to "Previous page", request.referer.present? ? request.referer : default_path %></li>
  <li><%= @divesite.name.downcase.capitalize %></li>
</ul>

<div class="divesite-header">
  <i class="fa fa-asterisk" style="font-size:28px;"></i>
  <h3>Details</h3>
</div>

<div class="container-fluid divesite-show-container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render 'divesites/info' %>
    </div>
    <div class="col-xs-12 col-md-4 sighting-box">
      <div id="map" style="width: 350px; height: 350px;"></div>
      <%= render 'divesites/events' %>
    </div>
    <div class="sightings-header">
        <i class="fa fa-eye" style="font-size:28px;"></i>
        <h3>Animals at <%= @divesite.name %></h3>
    </div>
      <%= render 'shared/sightings', sightings: @divesite.sightings, splitted_animals: @splitted_animals %>
      <%= render 'divesites/reviews' %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'shared/map.js.erb' %>
  <% end %>
<% end %>
