<div class="divesite-cover-photo">
</div>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to "Previous page", request.referer.present? ? request.referer : default_path %></li>
  <li><%= @divesite.name.downcase.capitalize %></li>
</ul>

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render 'divesites/info' %>
      <%= render 'divesites/sightings' %>
      <%= render 'divesites/reviews' %>
    </div>
    <div class="col-xs-12 col-md-4 sighting-box">
      <div id="map" style="width: 350px; height: 350px;"></div>
      <%= render 'divesites/events' %>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        icon: "/images/mapicon.png"
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
